* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Set font for easy reading */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*STILL NEEDS TO BE RE-SIZED*/
.portfolio-image {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-image article {
    display: flex;
    width: 500px;
    margin: 20px;
    padding: 50px;
    aspect-ratio: 16/9;
    overflow: hidden;
    align-items: center;
    filter: drop-shadow(10px 10px 15px black);
    /*add flexbox to center to the page*/
}
.portfolio-image article img {
    object-fit: contain;
    max-width: fit-content;
    max-height: fit-content;
}
main {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}
#about > div{
    display: flex;
/*add stuff here*/
}
#about img {
margin-bottom: 16px;
margin-right: 16px;
}
/*set to group/stack article items */
.portfolio-items {
    display: flex;
    flex-wrap: wrap; /* added wrap so items will drop down */
}
/* */
.portfolio-items article {
    width: calc(50% - 40px);/* added to make sure everything will space out approprietly */
    margin: 20px;
}
/*added to make the work feature photo will be larger than the others */
.portfolio-items article:first-child {
    width: calc(100% - 40px)
}
/* Work feature photo set 100% for now*/
.portfolio-items article img {
    width: 100%;
}
/* attempt to add drop shadow and saturate were conflicted after adding same to figure image*/
.portfolio-items article a {
    display: center;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    transition-property: all 300ms ease-in-out;
    filter: drop-shadow(20px 20px 24px black);
    filter: saturate(50%);
}

