* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Set font for easy reading */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio-image {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    align-items: center;
}
/*set to group/stack article items */
.portfolio-items {
    display: flex;
    flex-wrap: wrap; /* added wrap so items will drop down */
}
/* */
.portfolio-items article {
    width: calc(50% - 40px);/* added to make sure everything will space out approprietly */
    margin: 20px;
}
/*added to make the work feature photo will be larger than the others */
.portfolio-items article:first-child {
    width: calc(100% - 40px)
}
/* Work feature photo set 100% for now*/
.portfolio-items article img {
    width: 100%;
}
.portfolio-items article a {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    align-items: center;
}

