* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Set font for easy reading */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    flex-direction: row;
    align-content: space-around;
    text-align: center;
}

/*Can I change all portfolio image to say figure?*/
.portfolio-image {
    display: flex;
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* width: 100%; */
    margin: 20px;
    padding: 40px 40px 10px 40px;
    /* overflow: hidden; */
    justify-content: center;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.928));
}
main {
    max-width: 960px;
    margin: auto;
    padding: 10px 20px 30px 20px;
}
#about {
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}
    /*add stuff here*/
#work {
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}
/*set to group/stack article items */
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    /* added wrap so items will drop down */
}
/* */
.portfolio-items figure {
    width: calc(50% - 40px);
    margin: 20px;/* added to make sure everything will space out approprietly */
}
/*added to make the work feature photo will be larger than the others */
.portfolio-items figure:first-child {
    width: calc(100% - 40px)
}
/* Work feature photo set 50% for now*/
.portfolio-items figure img {
    width: 100%;
}
/* attempt to add drop shadow and saturate were conflicted after adding same to figure image*/
.portfolio-items article a {
    display: center;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    transition-property: all 300ms ease-in-out;
    filter: drop-shadow(20px 20px 24px black);
    filter: saturate(50%);
}
/* added contact*/
#contact {
    text-align: center;
    flex-direction: row;
    align-content: center;
}
